In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [105]:
x = pd.read_pickle('demo/credit_data/train.pkl')
y = pd.read_pickle('demo/credit_data/train_target.pkl')['target']

In [106]:
n = x.shape[0]

In [107]:
y.head(5)

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

In [18]:
x.head(5)

,id,certId,loanProduct,gender,age,dist,edu,job,lmt,basicLevel,...,highestEdu,linkRela,setupHour,weekday,ncloseCreditCard,unpayIndvLoan,unpayOtherLoan,unpayNormalLoan,5yearBadloan,isNew
0,1,640582,1,2,27,640500,0,8,5.963,3,...,-999,0,9,6,1,0,1,0,0,1
1,2,621023,2,2,25,640600,0,3,6.467,3,...,99,11,6,5,1,0,1,0,0,1
2,3,641283,1,2,37,641200,70,5,0.596,1,...,70,0,1,6,0,0,0,0,0,1
3,4,340821,3,2,29,340821,0,4,6.300,3,...,-999,-999,13,6,1,0,1,0,0,1
4,5,732628,2,2,22,732628,0,2,6.700,2,...,99,11,8,3,1,0,1,0,0,1

In [19]:
has_bankcard = x['bankCard'].map(lambda x:0 if str(x)=='nan' else 1)

In [139]:
np.bincount(np.maximum(x['x_12'].values, 0))

array([125030,   6999])

In [130]:
certId_data = x['certId'].values
dist_data = x['dist'].values
select_list = []
area_acc = 10000
for ii in range(n):
    if (certId_data[ii]//area_acc) != (dist_data[ii]//area_acc):
        select_list.append(ii)

In [131]:
np.sum(y.values[select_list])

158

In [ ]:
has_bankcard()